*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Nunito', sans-serif;
}

/*********************** Header *************************/

.header-box {
  width: 100%;
  height: 100vh;
  background: url('./images/bg.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.header-box::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(14, 0, 36, 0.712);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/********************** Pages ****************************/

.page-heading {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.page-heading h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 1.5rem;
}
